/** Developed by Prem-Karan Thaker **/

@font-face {
  font-family: Ubuntu,Verdana,sans-serif;
  font-display: optional;
  src: url(/resources/fonts/Ubuntu-R.ttf)
}

body,html {
  font-family: Ubuntu,Verdana,sans-serif;
  height: 100%;
}

body {
  padding: 100px 0px;
}

:root {
  --primary-blue:#0070ad;--secondary-blue:#12abdb;--primary-opacity-95:rgba(0, 112, 173, 0.95);--secondary-opacity-95:rgba(18, 171, 219, 0.95)}

.btn-primary {
  color: #fff;
  background-color: #0070ad; /* Fallback for IE */
  background-color: var(--primary-blue);
  border-color: #12abdb; /* Fallback for IE */
  border-color: var(--secondary-blue);
}

.btn-outline-primary,.btn-outline-primary:hover,.btn-primary:hover {
  border-color: #0070ad; /* Fallback for IE */
  border-color: var(--primary-blue);
}

.btn-primary:hover {
  color: #fff;
  background-color: #12abdb; /* Fallback for IE */
  background-color: var(--secondary-blue);
}

.btn-outline-primary {
  color: #0070ad; /* Fallback for IE */
  color: var(--primary-blue);
  background-color: transparent;
  background-image: none
}

.btn-outline-primary:hover,.calendar-header>tr {
  background-color: #0070ad; /* Fallback for IE */
  background-color: var(--primary-blue);
  color: #fff
}

.btn-group>button:last-of-type {
  border-right: none;
}

.card-body {
  line-height: 1em
}

.time-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba(0,0,0,.125);
  border-left: none;
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: none
}

.scrollable-cards {
  height: 100%;
  overflow-y: auto
}

.item-details {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem
}

.btn-sq-lg {
  width: 150px!important;
  height: 150px!important
}

.btn-sq {
  width: 100px!important;
  height: 100px!important
}

.btn-sq-sm {
  width: 50px!important;
  height: 50px!important
}

.btn-sq-xs {
  width: 25px!important;
  height: 25px!important;
  padding: 2px
}

.calendar-table {
  font-size: 10pt;
  width: 50%
}

.modal-calendar {
  width: 100%;
}

.calendar-header>tr,.weekdays tr {
  text-align: center
}

.weekdays td {
  border: 1px solid gray
}

.weekdays input {
  width: 75%
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  padding-top: 60px;
  background-color: var(--primary-opacity-95);
  overflow-x: hidden;
  transition: .5s
}

.navItems {
  padding-left: 10px;
  padding-right: 10px
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top:15px
  }

  .sidenav a {
    font-size: 18px
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 640px) {
  .calendar-table {
    width:100%
  }
}

@media only screen and (max-width: 575px) {
  body {
    padding-top:110px
  }
}

@media only screen and (max-width: 487px) {
  body {
    padding-top:180px
  }
}
